<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxcf.core.mapper.SystemaccountflowMapper">
  <resultMap id="BaseResultMap" type="com.zxcf.core.entity.Systemaccountflow">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tradeTime" jdbcType="TIMESTAMP" property="tradetime" />
    <result column="actionType" jdbcType="TINYINT" property="actiontype" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="usableAmount" jdbcType="DECIMAL" property="usableamount" />
    <result column="freezedAmount" jdbcType="DECIMAL" property="freezedamount" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tradeTime, actionType, amount, usableAmount, freezedAmount, note
  </sql>
  <select id="selectByExample" parameterType="com.zxcf.core.entity.SystemaccountflowExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from systemaccountflow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from systemaccountflow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from systemaccountflow
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxcf.core.entity.SystemaccountflowExample">
    delete from systemaccountflow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxcf.core.entity.Systemaccountflow">
    insert into systemaccountflow (id, tradeTime, actionType, 
      amount, usableAmount, freezedAmount, 
      note)
    values (#{id,jdbcType=BIGINT}, #{tradetime,jdbcType=TIMESTAMP}, #{actiontype,jdbcType=TINYINT}, 
      #{amount,jdbcType=DECIMAL}, #{usableamount,jdbcType=DECIMAL}, #{freezedamount,jdbcType=DECIMAL}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxcf.core.entity.Systemaccountflow">
    insert into systemaccountflow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tradetime != null">
        tradeTime,
      </if>
      <if test="actiontype != null">
        actionType,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="usableamount != null">
        usableAmount,
      </if>
      <if test="freezedamount != null">
        freezedAmount,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tradetime != null">
        #{tradetime,jdbcType=TIMESTAMP},
      </if>
      <if test="actiontype != null">
        #{actiontype,jdbcType=TINYINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="usableamount != null">
        #{usableamount,jdbcType=DECIMAL},
      </if>
      <if test="freezedamount != null">
        #{freezedamount,jdbcType=DECIMAL},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxcf.core.entity.SystemaccountflowExample" resultType="java.lang.Long">
    select count(*) from systemaccountflow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update systemaccountflow
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.tradetime != null">
        tradeTime = #{record.tradetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actiontype != null">
        actionType = #{record.actiontype,jdbcType=TINYINT},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.usableamount != null">
        usableAmount = #{record.usableamount,jdbcType=DECIMAL},
      </if>
      <if test="record.freezedamount != null">
        freezedAmount = #{record.freezedamount,jdbcType=DECIMAL},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update systemaccountflow
    set id = #{record.id,jdbcType=BIGINT},
      tradeTime = #{record.tradetime,jdbcType=TIMESTAMP},
      actionType = #{record.actiontype,jdbcType=TINYINT},
      amount = #{record.amount,jdbcType=DECIMAL},
      usableAmount = #{record.usableamount,jdbcType=DECIMAL},
      freezedAmount = #{record.freezedamount,jdbcType=DECIMAL},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxcf.core.entity.Systemaccountflow">
    update systemaccountflow
    <set>
      <if test="tradetime != null">
        tradeTime = #{tradetime,jdbcType=TIMESTAMP},
      </if>
      <if test="actiontype != null">
        actionType = #{actiontype,jdbcType=TINYINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="usableamount != null">
        usableAmount = #{usableamount,jdbcType=DECIMAL},
      </if>
      <if test="freezedamount != null">
        freezedAmount = #{freezedamount,jdbcType=DECIMAL},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxcf.core.entity.Systemaccountflow">
    update systemaccountflow
    set tradeTime = #{tradetime,jdbcType=TIMESTAMP},
      actionType = #{actiontype,jdbcType=TINYINT},
      amount = #{amount,jdbcType=DECIMAL},
      usableAmount = #{usableamount,jdbcType=DECIMAL},
      freezedAmount = #{freezedamount,jdbcType=DECIMAL},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>